pkgbase = mce-git
	pkgdesc = Mode Control Entity for Nokia mobile computers
	pkgver = 1.108.0.r0.g66df443
	pkgrel = 2
	url = https://github.com/sailfishos/mce.git
	arch = x86_64
	arch = aarch64
	license = GPL
	makedepends = git
	makedepends = doxygen
	makedepends = libdsme
	makedepends = libsystemd
	makedepends = usb-moded
	makedepends = mce-headers
	depends = libngf-git
	depends = libiphb-git
	provides = mce
	conflicts = mce
	source = mce::git+https://github.com/sailfishos/mce.git
	source = 0001-charger-Add-pinephone-charger-detection.-Fixes-JB-49.patch
	md5sums = SKIP
	md5sums = SKIP

pkgname = mce-git
