pkgbase = usb-moded-git
	pkgdesc = Mer USB mode controller
	pkgver = 0.86.0+mer55.r3.g473b789
	pkgrel = 1
	url = https://github.com/nemomobile-ux/usb-moded.git
	arch = x86_64
	arch = aarch64
	license = GPL
	makedepends = git
	depends = libdsme
	depends = dbus-glib
	depends = udev
	depends = kmod
	depends = sailfish-access-control
	depends = dhcp
	depends = net-tools
	provides = usb-moded
	conflicts = usb-moded
	source = usb-moded::git+https://github.com/nemomobile-ux/usb-moded.git
	source = dhcpd.conf
	md5sums = SKIP
	md5sums = SKIP

pkgname = usb-moded-git
