pkgbase = nemo-qml-plugin-messages-git
	pkgdesc = Messages plugin for Nemo Mobile
	pkgver = 0.1.30.r0.g6d05d2a
	pkgrel = 1
	url = https://github.com/sailfishos/nemo-qml-plugin-messages/
	arch = x86_64
	arch = aarch64
	license = BSD
	makedepends = git
	depends = telepathy-qt
	depends = libcommhistory-git
	depends = qt5-contacts-sqlite-extensions-git
	depends = libqofono-qt5
	depends = qt5-base
	depends = qt5-declarative
	depends = nemo-qml-plugin-dbus
	provides = nemo-qml-plugin-messages
	conflicts = nemo-qml-plugin-messages
	source = nemo-qml-plugin-messages::git+https://github.com/sailfishos/nemo-qml-plugin-messages/
	md5sums = SKIP

pkgname = nemo-qml-plugin-messages-git
