pkgbase = ohm-plugin-ruleengine
	pkgdesc = A prolog-based OHM rule engine plugin
	pkgver = 1.1.14.r0.g991e498
	pkgrel = 1
	url = https://github.com/sailfishos/ohm-rule-engine
	arch = x86_64
	arch = aarch64
	license = LGPL-2.1-only
	makedepends = git
	makedepends = automake
	makedepends = autoconf
	depends = glib2
	depends = ohm
	depends = swi-prolog
	depends = libprolog
	source = ohm-plugin-ruleengine::git+https://github.com/sailfishos/ohm-rule-engine
	sha256sums = SKIP

pkgname = ohm-plugin-ruleengine
