pkgbase = commhistory-daemon-git
	pkgdesc = Communications event history database daemon
	pkgver = 0.8.38.r0.g7e00f4a
	pkgrel = 3
	url = https://github.com/sailfishos/commhistory-daemon
	arch = x86_64
	arch = aarch64
	license = LGPLv2
	makedepends = git
	makedepends = qt5-tools
	depends = qt5-base
	depends = libcommhistory-git
	depends = qt5-contacts-sqlite-extensions-git
	depends = mlite
	depends = qt5-mce-git
	depends = qt5-mlocale-git
	depends = telepathy-qt
	depends = libqofono-qt5
	depends = qt5-ngfd-git
	depends = nemo-qml-plugin-contacts-git
	depends = nemo-qml-plugin-notifications-git
	depends = qt5-ofono-nemo-extensions-git
	provides = commhistory-daemon
	conflicts = commhistory-daemon
	source = commhistory-daemon-git::git+https://github.com/sailfishos/commhistory-daemon
	source = commhistoryd.service
	md5sums = SKIP
	md5sums = SKIP

pkgname = commhistory-daemon-git
