pkgbase = lipstick-glacier-home-git
	pkgdesc = A nice homescreen for Glacier experience
	pkgver = 0.33.1.r10.g86e900f
	pkgrel = 1
	url = https://github.com/nemomobile-ux/glacier-home
	arch = x86_64
	arch = aarch64
	license = BSD-3-Clause AND MIT
	makedepends = git
	makedepends = extra-cmake-modules
	makedepends = qt5-wayland
	makedepends = qt5-tools
	makedepends = nemo-qml-plugin-devicelock
	makedepends = bluez-qt
	depends = bluez-qt
	depends = qt5-graphicaleffects
	depends = qt5-multimedia
	depends = qt5-feedback
	depends = qt5-mpris-git
	depends = qt5-lipstick-git
	depends = qt5-quickcontrols-nemo-git
	depends = nemo-qml-plugin-configuration-git
	depends = nemo-qml-plugin-statusnotifier-git
	depends = nemo-qml-plugin-time-git
	depends = nemo-qml-plugin-contacts-git
	depends = nemo-qml-plugin-notifications-git
	depends = nemo-qml-plugin-connectivity-git
	depends = glacier-settings-git
	depends = geoclue>2.0
	depends = mlite
	provides = lipstick-glacier-home
	conflicts = lipstick-glacier-home
	source = lipstick-glacier-home-git::git+https://github.com/nemomobile-ux/glacier-home
	sha512sums = SKIP

pkgname = lipstick-glacier-home-git
