pkgbase = contactsd-git
	pkgdesc = Telepathy <> QtContacts bridge for contacts
	pkgver = 1.4.9.r0.g19a0201
	pkgrel = 3
	url = https://github.com/sailfishos/contactsd
	arch = x86_64
	arch = aarch64
	license = BSD-3-Clause
	makedepends = git
	makedepends = qt5-tools
	depends = telepathy-qt
	depends = mlite
	depends = qt5-mlocale-git
	depends = libqofono-qt5
	depends = qt5-contacts-sqlite-extensions-git
	depends = buteo-syncfw
	depends = kcalendarcore
	depends = mkcal-git
	depends = nemo-qml-plugin-contacts-git
	depends = qt5-ofono-nemo-extensions-git
	provides = contactsd
	conflicts = contactsd
	source = contactsd-git::git+https://github.com/sailfishos/contactsd
	source = 0001-KcalendarCore_not_provide_pc_files.path
	source = contactsd.service
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = contactsd-git
