pkgbase = maliit-nemo-keyboard-git
	pkgdesc = Contains the reference input method plugins, such as the Maliit Keyboard.
	pkgver = 0.99.2.r18.g89f1e862
	pkgrel = 2
	url = https://github.com/nemomobile-ux/maliit-nemo-keyboard#branch=master
	arch = x86_64
	arch = aarch64
	license = BSD
	makedepends = git
	makedepends = cmake
	depends = maliit-framework
	provides = maliit-nemo-keyboard
	conflicts = maliit-nemo-keyboard
	source = maliit-nemo-keyboard-git::git+https://github.com/nemomobile-ux/maliit-nemo-keyboard#branch=master
	source = nemo-keyboard.service
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = maliit-nemo-keyboard-git
